<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","anchor":"contenido","className":"site-main","layout":{"type":"default"}} -->
<main id="contenido" class="wp-block-group site-main"><!-- wp:group {"className":"wrap page-head","layout":{"type":"default"}} -->
<div class="wp-block-group wrap page-head"><!-- wp:shortcode -->
[elanill0_migas]
<!-- /wp:shortcode -->
<!-- wp:post-title {"level":1} /-->
<!-- wp:post-excerpt {"excerptLength":60,"className":"lead"} /-->
<!-- wp:separator {"className":"bar"} -->
<hr class="wp-block-separator has-alpha-channel-opacity bar"/>
<!-- /wp:separator -->
</div>
<!-- /wp:group -->
<!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
